<!DOCTYPE html>
<html lang="en">
<head>
<!-- META SECTION -->
<title>Spring Framework Guru JdbcTemplate, Thymeleaf, JPA Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END META SECTION -->
<!--  BEGIN STYLE -->
<style>
table, th, td {
    border: 1px solid black;
    padding: 1px;
}
</style>
<!--  END STYLE -->

</head>
<body>
		<div>
			<h2>Current Dogs In Rescue</h2>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Rescue Date</th>
						<th>Vaccinated</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dogs : ${dogs}">
						<td th:text="${dogs.id}">Text ...</td>
						<td th:text="${dogs.name}">Text ...</td>
						<td th:text="${dogs.rescued}">Text ...</td>
						<td th:text="${dogs.vaccinated}">Text...</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--  begin form for finding at risk dogs -->
		<h2>Find Dogs That Need Vaccines</h2>
		<form action="#" th:action="@{/}" th:object="${search}">
		<label for="search_input">Search:</label> <input name="search"
			id="search"  >
		</input>
		<div th:if="${not #lists.isEmpty(search)}">
			<h3>Search Results Of At Risk Dogs</h3>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Vaccinated</th>
						<th>Rescued</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="search : ${search}">
						<td th:text="${search.id}">Text ...</td>
						<td th:text="${search.name}">Text ...</td>
						<td th:text="${search.vaccinated}">Text ...</td>
						<td th:text="${search.rescued}">Text...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
	<div>
	<h2>Add A Dog</h2>
	<form action="#" th:action="@{/}" method="post">
	<label>Name<input type="text" name="name" id="name"></input></label>
	<label>Vaccinated<input type="text" name="vaccinated" id="vaccinated"></input></label>
	<label>Rescued<input type="text" name="rescued" id="rescued"></input></label>
	<input type="submit" value="Submit"></input>
	</form>
	</div>
	<div>
	<h2>Delete A Dog</h2>
	<form action="/delete" th:action="@{/delete}" method="post">
	<label>Name<input type="text" name="name" id="name"></input></label>
	<label>ID<input type="text" name="id" id="id"></input></label>
	<input type="submit" value="Submit"></input>
	</form>
	</div>
	<div>
	<h2>Return Generated Key When Adding A Dog</h2>
		<form action="/genkey" th:action="@{/genkey}" method="post">
	<label>Name<input type="text" name="name" id="name"></input></label>
	<label>Vaccinated<input type="text" name="vaccinated" id="vaccinated"></input></label>
	<label>Rescued<input type="text" name="rescued" id="rescued"></input></label>
	<input type="submit" value="Submit"></input>
	</form>
	</div>
</body>
</html>